{% extends 'base.html.twig' %}

{% block body %}



<div class="containerAccueil">

<div class="bienvenue">

<h1 class="h1Accueil">{{'bienvenue'|trans}}

{% if app.user.id is defined %}
  {{app.user.prenom}}</h1>
  </div>

  <div class="contenuAccueil">

<div class="blocAccueil">

  <h1>{{'dernieresAnnoncesPostee'|trans}}</h1>

  <table class="table table-striped">
  

  
  {% for trajet in trajets %}
    <tr>
        <td><a href="{{ path('trajet.show', {id:trajet.id})}}">{{trajet.dateDepart |date('j/m')}}</a></td>
        <td>{{trajet.heureDepart |date('H') }}h{{trajet.heureDepart |date('i') }}</td>
        <td>{{trajet.villeDepart}}</td>
        <td> <span class="glyphicon glyphicon-arrow-right"> </span></td>
        <td> {{trajet.villeArrivee}}</td>
        {% if trajet.nbPassagers == 0 %}
        <td>{{'complet'|trans}}</td>
        {% else %}
        <td>{{trajet.nbPassagers}} {{'placesRestantes'|trans}}</td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="profil">
    <div class="buttonAccueil">
      <a href="{{ path('trajet.list')}}">{{'voirPlus'|trans}}</a>
    </div>
  </div>

</div>

<div class="blocAccueil">


  <h1>{{'monProfil'|trans}}</h1>


  <div class="profil">
    <div>
      {% if nbNote != 0 %}
      <p><span class="petitTitre">{{'maNote'|trans}} :</span>  <b>{{ note|number_format(1) }}</b> / 5 </p>
      {% else %}
      <p>{{'aucuneNotePourLinstant'|trans}}</p>
      {% endif %}
    </div>
  </div>

  <div class="profil">
    <div>
      <p><i class="fas fa-smoking fa-3x"></i>  
      {% if utilisateur.cigarette %}
      Oui </p>
      {% else %}
      Non </p>
      {% endif %}
    </div>
    
    <div>
      <p><i class="fas fa-paw fa-3x"></i> 
      {% if utilisateur.animaux %}
      Oui </p>
      {% else %}
      Non </p>
      {% endif %}
    </div>
  </div>

  <div class="profil">
    <div class="buttonAccueil">
      <a href="{{ path('user.show', {slug:utilisateur.slug})}}">{{'plusDetails'|trans}}</a>
    </div>
  </div>
  

  

</div>

{% if voiture != NULL %}
<div class="blocAccueil">

  <h1>{{'maVoiture'|trans}}</h1>

  <div class="profil">
    <div>
      <p><span class="petitTitre">{{'marque'|trans}} :</span>  {{ voiture.marqueVoiture }} </p>
    </div>
    
    <div>
      <p><span class="petitTitre">{{'modele'|trans}} :</span> {{ voiture.modeleVoiture }} </p>
    </div>

    <div>
      <p><span class="petitTitre">{{'annee'|trans}} :</span>  {{ voiture.anneeVoiture }} </p>
    </div>
  </div>

  

<div class="profil">

    <div>
      <p><span class="petitTitre">{{'taillesBagages'|trans}} :</span>  {{ voiture.tailleBagages }} </p>
    </div>
  </div>

  <div class="profil">
    <div class="buttonAccueil">
      <a href="{{ path('voiture.edit', {id:voiture.id})}}">{{'voiture.modifier'|trans}}</a>
    </div>
  </div>

</div>

{% endif %}




</div>


</div>


 {% else %}
 </h1>
  <button class="buttonAccueil">{{'connexion'|trans}}</button>
  <button class="buttonAccueil">{{'inscription'|trans}}</button>
  <button class="buttonAccueil">{{'trajet.voirTout'|trans}}</button>
 {% endif %}



</div>





{% endblock %}

