{% extends 'base.html.twig' %}

{% block body %}

<div class="containerCommentaires">

        <div class="commentaireInfoUser">
            <div class="containFlexComUser"> 
                {% if user.sexe == "Femme" %}
                    {% if app.user.theme == "Rose" %}
                        <img class="pictoTrajet" src="{{ asset('images/themeRose/woman.png') }}" alt="Pictogramme femme">
                    {% else %}
                    {% if app.user.theme == "Clair" %}
                        <img class="pictoTrajet" src="{{ asset('images/themeClair/woman.png') }}" alt="Pictogramme femme">
                    {% else %}
                        <img class="pictoTrajet" src="{{ asset('images/themeSombre/woman.png') }}" alt="Pictogramme femme">
                    {% endif %}
                    {% endif %}

                {% else %}

                    {% if app.user.theme == "Rose" %}
                        <img class="pictoTrajet" src="{{ asset('images/themeRose/man.png') }}" alt="Pictogramme homme">
                    {% else %}
                    {% if app.user.theme == "Clair" %}
                        <img class="pictoTrajet" src="{{ asset('images/themeClair/man.png') }}" alt="Pictogramme homme">
                    {% else %}
                        <img class="pictoTrajet" src="{{ asset('images/themeSombre/man.png') }}" alt="Pictogramme homme">
                    {% endif %}
                    {% endif %}


                {% endif %}
                <h2> {{user.prenom}} {{user.nom}} </h2>
            </div>

            <div class="containFlexComUser">
                <div><span class="petitTitre">{{'note'|trans}} : </span> <b>{{note|number_format(1)}}</b> / 5</div>
            </div>

            <div class="containFlexComUser">
                <div><span class="petitTitre">{{'age'|trans}} : </span> 20 ans</div>
                <div><span class="petitTitre">{{'cigarette'|trans}} : </span>{% if user.cigarette == false %} Non {% else %} Oui {% endif %}</div>
                <div><span class="petitTitre">{{'animaux'|trans}} : </span>{% if user.animaux == false %} Non {% else %} Oui {% endif %}</div>
            </div>

            <div class="containFlexComUser">
                <div>"{{user.bio}}"</div>
            </div>
        </div>

        <div class="allCommentaires">
            {% for commentaire in commentaires %}
                {% set users = commentaire.idUtilisateurQuiCommente %}
                    {% for user in users %}

                        <div class="contenuCommentaire">
                            <div class="titleCommentaire">
                                {% if user.sexe == "Femme" %}
                        {% if app.user.theme == "Rose" %}
                            <img class="pictoTrajet" src="{{ asset('images/themeRose/woman.png') }}" alt="Pictogramme femme">
                        {% else %}
                        {% if app.user.theme == "Clair" %}
                            <img class="pictoTrajet" src="{{ asset('images/themeClair/woman.png') }}" alt="Pictogramme femme">
                        {% else %}
                            <img class="pictoTrajet" src="{{ asset('images/themeSombre/woman.png') }}" alt="Pictogramme femme">
                        {% endif %}
                        {% endif %}

                        {% else %}

                            {% if app.user.theme == "Rose" %}
                                <img class="pictoTrajet" src="{{ asset('images/themeRose/man.png') }}" alt="Pictogramme homme">
                            {% else %}
                            {% if app.user.theme == "Clair" %}
                                <img class="pictoTrajet" src="{{ asset('images/themeClair/man.png') }}" alt="Pictogramme homme">
                            {% else %}
                                <img class="pictoTrajet" src="{{ asset('images/themeSombre/man.png') }}" alt="Pictogramme homme">
                            {% endif %}
                            {% endif %}


                        {% endif %}
                                <div class="titleNom">{{user.prenom}} {{user.nom}}</div>
                                <div><span class="petitTitre">{{'noteAttribuee'|trans}} : </span> <span class="texteCom">{{ commentaire.note }}</span> </div>
                            </div>

                            <div class="comm">
                                <div>" <span class="texteCom">{{ commentaire.contenuCom}} </span>"</div>
                            </div>

                        </div>

                    {% endfor %}        


            {% endfor %}


        </div>
    
    
</div>


    

   
{% endblock %}