<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}BlaBlaMiage{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    {% if app.user.id is defined %} 
        {% if app.user.theme == "Rose" %}
          <link href="{{ asset('css/Rose.css') }}" type="text/css" rel="stylesheet">
          {% else %}
            {% if app.user.theme == "Clair" %}
              <link href="{{ asset('css/Clair.css') }}" type="text/css" rel="stylesheet">
            {% else %}
              <link href="{{ asset('css/Sombre.css') }}" type="text/css" rel="stylesheet">

            {% endif %}
        {% endif %}
      {% else %}
        <link href="{{ asset('css/Rose.css') }}" type="text/css" rel="stylesheet">
    {% endif %}
    
    
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

    {% endblock %}
    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock %}

    
    

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand titre" href="{{path('accueil')}}">BlaBlaMiage</a>
    </div>

    
    
    <ul class="nav navbar-nav navbar-right">

    {% if app.user.id is defined %}
    <li><a href="{{path('trajet.create')}}"><span class="glyphicon glyphicon-plus"></span>   {{'trajet.propose'|trans}}</a></li>
    <li><a href="{{path('trajet.list')}}"><span class="glyphicon glyphicon-th-list"></span>    {{'trajet.voirTout'|trans}}</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-globe"></span> {{'langue'|trans}}<span class="caret"></span></a>
      <ul class="dropdown-menu">
      {% for key,locale in locales %}
      <li><a href="{{ path(app.request.get('_route'),
      app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{locale}}</a></li>
      {% endfor %}
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-user"></span> {{'monCompte'|trans}}<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('user.show', {slug:app.user.slug})}}">{{'monCompte.details'|trans}}</a></li>
        <li><a href="{{ path('user.edit', {slug:app.user.slug})}}">{{'profil.modifier'|trans}}</a></li>
        {% if app.user.voiture != NULL %}
        <li><a href="{{ path('voiture.edit', {id:app.user.voiture.id})}}">{{'voiture.modifier'|trans}}</a></li>
        {% else %}
          <li><a href="{{path('voiture.create')}}">{{'voiture.ajouter'|trans}}</a></li>
        {% endif %}
        <li><a href="{{ path('commentaire.show', {slug : app.user.slug})}}">{{'mesCommentaires'|trans}}</a></li>
      </ul>
    </li>
    <li><a href="{{path('app_logout')}}"><span class="glyphicon glyphicon-off"></span>  {{'deconnexion'|trans}}</a></li>


    

    {% else %}

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-globe"></span> {{'langue'|trans}}<span class="caret"></span></a>
      <ul class="dropdown-menu">
      {% for key,locale in locales %}
      <li><a href="{{ path(app.request.get('_route'),
      app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{locale}}</a></li>
      {% endfor %}
      </ul>
    </li>
    <li><a href="{{path('app_register')}}"><span class="glyphicon glyphicon-user"></span>  {{'inscription'|trans}}</a></li>
    <li><a href="{{path('app_login')}}"><span class="glyphicon glyphicon-log-in"></span>  {{'connexion'|trans}}</a></li>

    {% endif %}
    
    </ul>
  </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
