{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détail sur <i>{{ passager.nomPassager }}</i> <i> {{ passager.prenomPassager }} </i></h1>
    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>{{ passager.prenomPassager }}</strong> <i>({{ passager.prenomPassager }})</i></h3>
                </div>

                <div class="col-sm-2">
                    <i class="pull-right">Publié le {{ passager.prenomPassager }}</i>
                </div>
            </div>

            <p>
                <strong>{{ passager.prenomPassager }}</strong>
                <small> - <i>{{ passager.prenomPassager }}</i></small>
            </p>

            <p>{{ passager.bioPassager|nl2br }}</p>

            <p>
                <strong>Email de contact :</strong> {{ passager.bioPassager }}
            </p>
            <p>
                <strong>Date d'expirtaion :</strong> {{ passager.bioPassager }}
            </p>
            
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a class="btn btn-default" href="#">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        Liste des stages
                    </a>

                    <a class="btn btn-primary" href="{{ path('passager.create', {slug:passager.slug})}}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Éditer
                    </a>
                    <a class="btn btn-danger" href="{{ path('passager.delete', {slug:passager.slug})}}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Supprimer
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}