{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        {{'pointDanuller'|trans}} {{trajet.dateDepart | date('d/m/Y')}} {{'de'|trans}} {{trajet.villeDepart}} {{'vers'|trans}} {{trajet.villeArrivee}}
    </div>
    <div class="collapse navbar-collapse">
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
        <a href="{{ path('trajet.list') }}" class="btn btn-success" role="button">{{'annuler'|trans}}</a>
        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes vous sûr ??')">
        
        {{'annulerLaReservation'|trans}}
    </button>
    {{ form_end(form) }}
    </div>
{% endblock %}