{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        {{'pointDanullerTrajet'|trans}} {{'de'|trans}} {{trajet.villeDepart}} {{'vers'|trans}} {{trajet.villeArrivee}} {{'du'|trans}} {{trajet.dateDepart | date('d/m/Y')}}
    </div>
    <div class="collapse navbar-collapse">
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
        <a href="{{ path('trajet.list') }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>{{'annuler'|trans}}</a>
        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes vous sûr ??')">
        
        {{'annulerTrajet'|trans}}
    </button>
    {{ form_end(form) }}
    </div>
{% endblock %}