{% extends 'base.html.twig' %}

{% block body %}

<div>
{{ form_start(form)}}
{{ form_widget(form) }}
<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{{'rechercher'|trans}}</button>
        </div>
    </div>
{{ form_end(form)}}

</div>

{% if users != NULL %}

<div class="containerFlex">
    <div class="containerFlexTrajet">

        {% for trajet in trajets %}
        {% set users = trajet.idUtilisateur %}
            {% for user in users %}
                <div class="containerTrajet">
                    <div class="containerInfosTrajet">

                        <div class="infosTrajet">

                            <div class="titrePrixTrajet">
                                <h1>{{ trajet.villeDepart }} <span class="glyphicon glyphicon-arrow-right"></span> {{ trajet.villeArrivee }}</h1>
                                <div class="rondPrix">{{ trajet.prixTrajet }}€</div>
                            </div>

                            <div>{{ trajet.dateDepart |date('d/m/Y') }} à {{trajet.heureDepart |date('H') }}h{{trajet.heureDepart |date('i') }}  </div>

                            <div class="villes">
                                
                                    <div><span class="titleDepartArrivee">{{'depart'|trans}} : </span> </div>
                                    <div>{{ trajet.adresseDepart }}, {{ trajet.codePostalDepart }} - {{ trajet.villeDepart }}</div>
                                
                            
                                    <div><span class="titleDepartArrivee">{{'arrivee'|trans}} : </span> </div>
                                    <div>{{ trajet.adresseArrivee }}, {{ trajet.codePostalArrivee }} - {{ trajet.villeArrivee }}</div>
                            

                            </div>

                            <div class="nbPlacesRestantes"><span class="nbPlaces">{{ trajet.nbPassagers }} </span> {{'placesRestantes'|trans}} </div>    
                            
                        </div>
                        

                        <div class="infosTrajet">
                            <h1>{{'proposePar'|trans}}</h1>

                            <div class="userTrajet">
                            {% if user.sexe == "Femme" %}
                                {% if app.user.theme == "Rose" %}
                                    <img class="pictoTrajet" src="{{ asset('images/themeRose/woman.png') }}" alt="Pictogramme femme">
                                {% else %}
                                {% if app.user.theme == "Clair" %}
                                    <img class="pictoTrajet" src="{{ asset('images/themeClair/woman.png') }}" alt="Pictogramme femme">
                                {% else %}
                                    <img class="pictoTrajet" src="{{ asset('images/themeSombre/woman.png') }}" alt="Pictogramme femme">
                                {% endif %}
                                {% endif %}

                            {% else %}

                                {% if app.user.theme == "Rose" %}
                                    <img class="pictoTrajet" src="{{ asset('images/themeRose/man.png') }}" alt="Pictogramme homme">
                                {% else %}
                                {% if app.user.theme == "Clair" %}
                                    <img class="pictoTrajet" src="{{ asset('images/themeClair/man.png') }}" alt="Pictogramme homme">
                                {% else %}
                                    <img class="pictoTrajet" src="{{ asset('images/themeSombre/man.png') }}" alt="Pictogramme homme">
                                {% endif %}
                                {% endif %}


                            {% endif %}
                                
                                <div class="titleNom">{{user.prenom}} {{user.nom}}</div>
                            </div>
                            
                            {% set commentaires = user.commentairesRecus %}
                            {% set nbNotes = 0 %}
                            {% set note = 0 %}

                            {% for commentaire in commentaires %}
                                {% set nbNotes = nbNotes + 1 %}
                                {% set note = note + commentaire.note %}
                            {% endfor %}

                            {% set note = note / nbNotes %}
                            
                            <div class="userTrajet">
                                <div><span class="titleDepartArrivee">{{'noteGlobale'|trans}}</span></div>
                                <div>{{ note|number_format(1) }} / 5</div>
                            </div>
                            {% if user.id != app.user.id %}
                                <button class="buttonComm" onclick="window.location.href = '{{ path('commentaire.show', {slug : user.slug})}}';">{{'voirTousSesCom'|trans}}</button>
                                </div>
                                
                                <!-- Vérifier si cet utilisateur n'a pas déjà reserver ce trajet -->
                                {% set usersReserves = trajet.idUser %}
                                {% set resa = false %}
                                {% for userResa in usersReserves %}
                                    {% if app.user.id == userResa.id %}
                                    <!-- Cet utilisateur a déjà reservé ce trajet -->
                                        {% set resa = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if resa == true %}
                                <button class="buttonResa" onclick="window.location.href = '{{ path('reservation.delete', {id : trajet.id})}}';">{{'annulerMaResa'|trans}}</button>
                                <button class="buttonResa" style="margin-left: 5px" onclick="window.location.href = '{{ path('trajet.show', {id : trajet.id})}}';">{{'detailsDuTrajet'|trans}}</button>
                                {% else %}
                                <button class="buttonResa" onclick="window.location.href = '{{ path('reserveTrajet', {id : trajet.id})}}';">{{'reserver'|trans}}</button>
                                {% endif %}
                            {% else %}
                                <button class="buttonComm" onclick="window.location.href = '{{ path('commentaire.show', {slug : user.slug})}}';">{{'voirTousMesCom'|trans}}</button>
                                </div>
                                <button class="buttonResa" onclick="window.location.href = '{{ path('trajet.show', {id : trajet.id})}}';">{{'detailsDeMonTrajet'|trans}}</button>

                            {% endif %}

                            
            
                        
                    </div>

                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
</div>
{% else %}

<h1 style="text-align: center">Aucun Résultat</h1>
{% endif %}
    

   
{% endblock %}