{% extends 'base.html.twig' %}

{% block body %}

<div class="containerInfoTrajet">

    <div class="informationTrajet">
        <div class="titleDepartArrivee">{{trajet.villeDepart}} --> {{trajet.villeArrivee}}</div>
        <div>Départ le <span class="petitTitre"> {{trajet.dateDepart | date('d/m/Y')}}</span></div>
        <div>Posté par <span class="petitTitre">{{userPoste.prenom}} {{userPoste.nom}}</span> </div>


    </div>


    <!-- Reserver par & Commentaires -->    
    <div class="resaCom">
        <div class="resa">
            <div class="titleDepartArrivee">Réservé par</div>
            {% for userResa in usersResa %}
                <div>{{userResa.prenom}} {{ userResa.nom}} </div>
            {% endfor %}

        </div>

        {% if commentairesRecus is not empty %}

        <div class="com">
            <div class="titleDepartArrivee">Commentaires</div>
            
            {% for commRecu in commentairesRecus %}
                {% set users = commRecu.idUtilisateurQuiCommente %}
                {% for user in users %}
                <div><span class="petitTitre">{{user.prenom}} {{user.nom}}</span> - {{commRecu.dateCom | date("d/m/Y")}} - Note {{commRecu.note}} / 5 :</div>
                <div><i>"{{commRecu.contenuCom}}"</i></div>
                
                {% endfor %}
            {% endfor %}
            

        </div>

        {% endif %}


    </div>

     <!-- Vérifier si cet utilisateur n'a pas déjà reserver ce trajet -->
    {% set usersReserves = trajet.idUser %}
    {% set resa = false %}
    {% for userResa in usersReserves %}
        {% if app.user.id == userResa.id %}
        <!-- Cet utilisateur a déjà reservé ce trajet -->
            {% set resa = true %}
        {% endif %}
    {% endfor %}

    

    {% if app.user.id != userPoste.id and resa == false and trajet.nbPassagers != 0 %}
    <button class="buttonResa" onclick="window.location.href = '{{ path('reserveTrajet', {id : trajet.id})}}';">Réserver</button>
    {% endif %}



</div>

    

   
{% endblock %}