{% extends 'base.html.twig' %}

{% block title %}{{'maj'|trans}}{% endblock %}

{% block body %}
    <h1>{{'maj'|trans}}</h1>

    {{ form_start(form) }}


        <button class="btn">{{'mettreAJour'|trans}}</button>
    {{ form_end(form) }}

    
{% endblock %}
