{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        <strong>Attention ! </strong> {{'pointSupprimerVoiture'|trans}}
    </div>
    <div class="collapse navbar-collapse">
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
        <a href="{{ path('accueil') }}" class="btn btn-success" role="button">Annuler</a>
        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes vous sûr ??')">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        {{'supprimer'|trans}}
    </button>
    {{ form_end(form) }}
    </div>
{% endblock %}