{% extends 'base.html.twig' %}

{% block title %}{{'maj'|trans}}{% endblock %}

{% block body %}
    <h1>{{'mettreAJour'|trans}}</h1>

    {{ form_start(form) }}
        {{ form_row(form.marqueVoiture) }}
        {{ form_row(form.modeleVoiture) }}
        {{ form_row(form.couleurVoiture) }}
        {{ form_row(form.anneeVoiture) }}
        {{ form_row(form.tailleBagages) }}

        <button class="btn">{{'mettreAJour'|trans}}</button>
    {{ form_end(form) }}
{% endblock %}
