{% extends 'base.html.twig' %}

{% block body %}

<div class="containerFlex">
   
    <div class="containerUser"> 

        <div class="myProfil">

            {% if utilisateur.sexe == "Femme" %}
                {% if utilisateur.theme == "Rose" %}
                    <img class="picto" src="{{ asset('images/themeRose/woman.png') }}" alt="Pictogramme femme">
                {% else %}
                {% if utilisateur.theme == "Clair" %}
                    <img class="picto" src="{{ asset('images/themeClair/woman.png') }}" alt="Pictogramme femme">
                {% else %}
                    <img class="picto" src="{{ asset('images/themeSombre/woman.png') }}" alt="Pictogramme femme">
                {% endif %}
                {% endif %}
            
            {% else %}
                {% if utilisateur.theme == "Rose" %}
                    <img class="picto" src="{{ asset('images/themeRose/man.png') }}" alt="Pictogramme femme">
                {% else %}
                {% if utilisateur.theme == "Clair" %}
                    <img class="picto" src="{{ asset('images/themeClair/man.png') }}" alt="Pictogramme femme">
                {% else %}
                    <img class="picto" src="{{ asset('images/themeSombre/man.png') }}" alt="Pictogramme femme">
                {% endif %}
                {% endif %}
            {% endif %}

            <h1>{{utilisateur.prenom}} {{utilisateur.nom}}</h1>

            <a href="{{ path('user.edit', {slug:utilisateur.slug})}}"><span class="glyphicon glyphicon-pencil" style="font-size:25px;"></span></a>     
            <a href="{{ path('user.delete', {slug:utilisateur.slug})}}"><span class="glyphicon glyphicon-trash" style="font-size:25px;"></span></a>     


        </div>

        <div class="myProfil">
            <div><b>Mail : </b>{{utilisateur.email}}</div>
            <div><b>{{'dateNaissance'|trans}} : </b>{{utilisateur.dateNaissance | date("j/m/Y")}}</div>
            <div><b>{{'tel'|trans}} : </b>0{{utilisateur.tel}}</div>
            <div><b>{{'cigarette'|trans}} : </b>{% if utilisateur.cigarette %}{{'oui'|trans}}{% else %}{{'non'|trans}}{% endif %}</div>
            <div><b>{{'animaux'|trans}} : </b>{% if utilisateur.animaux %}{{'oui'|trans}}{% else %}{{'non'|trans}}{% endif %}</div>
        </div>

        <div class="myProfil">
            <div><b>{{'bio'|trans}} : </b>{{utilisateur.bio}}</div>
        </div>

       {% if voiture != NULL %}
        <div class="myProfil">
            {% if utilisateur.sexe == "Femme" %}
                {% if utilisateur.theme == "Rose" %}
                    <img class="picto" src="{{ asset('images/themeRose/carWoman.png') }}" alt="Pictogramme voiture femme">
                {% else %}
                {% if utilisateur.theme == "Clair" %}
                    <img class="picto" src="{{ asset('images/themeClair/carWoman.png') }}" alt="Pictogramme voiture femme">
                {% else %}
                    <img class="picto" src="{{ asset('images/themeSombre/carWoman.png') }}" alt="Pictogramme voiture femme">
                {% endif %}
                {% endif %}
            {% else %}
                {% if utilisateur.theme == "Rose" %}
                    <img class="picto" src="{{ asset('images/themeRose/carMan.png') }}" alt="Pictogramme voiture homme">
                {% else %}
                {% if utilisateur.theme == "Clair" %}
                    <img class="picto" src="{{ asset('images/themeClair/carMan.png') }}" alt="Pictogramme voiture homme">
                {% else %}
                    <img class="picto" src="{{ asset('images/themeSombre/carMan.png') }}" alt="Pictogramme voiture homme">
                {% endif %}
                {% endif %}
            {% endif %}
            
            
            <h1>Ma Voiture</h1>   
            <a href="{{ path('voiture.edit', {id:voiture.id})}}"><span class="glyphicon glyphicon-pencil" style="font-size:25px;"></span></a>
            <a href="{{ path('voiture.delete', {id:voiture.id})}}"><span class="glyphicon glyphicon-trash" style="font-size:25px;"></span></a>     

        </div>

        <div class="myProfil">
        
            <div><b>{{'marque'|trans}} : </b>{{voiture.marqueVoiture}}</div>
            <div><b>{{'modele'|trans}} : </b>{{voiture.modeleVoiture}}</div>
            <div><b>{{'annee'|trans}} : </b>{{voiture.anneeVoiture}}</div>
            <div><b>{{'couleur'|trans}} : </b>{{voiture.couleurVoiture}}</div>
            <div><b>{{'taillesBagages'|trans}} : </b>{{voiture.tailleBagages}}</div>
        </div>

       

        {% endif %}

        <div class="myTrajets">

            <div class="myTitle">
                <div class="titleTrajets">
                    <h1>{{'mesAnnonces'|trans}}</h1>
                </div>
                

                <h1>{{'mesReservations'|trans}}</h1>
                
                
            </div>
        
            
            <div class="allMyTrajets">

                <div class="annonces">
                    {% if trajetsPostesExpires != NULL %}
                        <h2>{{'expires'|trans}}</h2>
                        <table class="table table-striped">
                            <tbody>
                            {% for tpe in trajetsPostesExpires %}
                                <tr>
                                    <td><a href="{{ path('trajet.show', {id:tpe.id})}}">{{tpe.dateDepart |date('j/m')}}</a></td>
                                    <td>{{tpe.villeDepart}}</td>
                                    <td> <span class="glyphicon glyphicon-arrow-right"> </span></td>
                                    <td> {{tpe.villeArrivee}}</td>
                                    <td><a href="{{ path('commentaire.new', {idTrajet:tpe.id, statut:"Conducteur"})}}">{{'commenterCeTrajet'|trans}}</a></td>
                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if trajetsPostesAVenir != NULL %}
                        <h2>{{'aVenir'|trans}}</h2>
                        <table class="table table-striped">
                            <tbody>
                            {% for tpav in trajetsPostesAVenir %}
                                <tr>
                                    <td><a href="{{ path('trajet.show', {id:tpav.id})}}">{{tpav.dateDepart |date('j/m')}}</a></td>
                                    <td>{{tpav.villeDepart}}</td>
                                    <td> <span class="glyphicon glyphicon-arrow-right"> </span></td>
                                    <td> {{tpav.villeArrivee}}</td>
                                    <td><a href="{{ path('trajet.delete', {id:tpav.id})}}">{{'annulerCeTrajet'|trans}}</a></td>
                                    {% set usersResa = tpav.idUser %}
                                    {% set cptResa = 0 %}
                                    {% for userResa in usersResa %}
                                        {% set cptResa = cptResa + 1 %}
                                    {% endfor %}
                                    {% if cptResa == 0 %}
                                    <td><a href="{{ path('trajet.edit', {id:tpav.id})}}"><span class="glyphicon glyphicon-pencil" style="font-size:25px;"></span></a></td>
                                    {% else %}
                                    <td>{{'nonModifiable'|trans}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                

                <div class="annonces">

                    {% if trajetsReservesExpires != NULL %}
                    <h2>{{'expires'|trans}}</h2>
                    <table class="table table-striped">
                        <tbody>
                        {% for tre in trajetsReservesExpires %}
                            <tr>
                                <td><a href="{{ path('trajet.show', {id:tre.id})}}">{{tre.dateDepart |date('j/m')}}</a></td>
                                <td>{{tre.villeDepart}}</td>
                                <td> <span class="glyphicon glyphicon-arrow-right"> </span></td>
                                <td> {{tre.villeArrivee}}</td>
                                <td><a href="{{ path('commentaire.new', {idTrajet:tre.id, statut:"Passager"})}}">{{'commenterCeTrajet'|trans}}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                
                    {% if trajetsReservesAVenir != NULL %}
                        <h2>{{'aVenir'|trans}}</h2>
                        <table class="table table-striped">
                            <tbody>
                            {% for trav in trajetsReservesAVenir %}
                                <tr>
                                    <td><a href="{{ path('trajet.show', {id:trav.id})}}">{{trav.dateDepart |date('j/m')}}</a></td>
                                    <td>{{trav.villeDepart}}</td>
                                    <td> <span class="glyphicon glyphicon-arrow-right"> </span></td>
                                    <td> {{trav.villeArrivee}}</td>
                                    <td><a href="{{ path('reservation.delete', {id : trav.id})}}">{{'annulerMaReservation'|trans}}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}        
                </div>

            </div>
        </div>
        

        

    </div>

</div>
{% endblock %}