{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détail sur <i>{{ utilisateur.nom }}</i> <i> {{ utilisateur.prenom }} </i></h1>
    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>{{ utilisateur.prenom }}</strong> <i>({{ utilisateur.prenom }})</i></h3>
                </div>

                <div class="col-sm-2">
                    <i class="pull-right">Publié le {{ utilisateur.prenom }}</i>
                </div>
            </div>

            <p>
                <strong>{{ utilisateur.prenom }}</strong>
                <small> - <i>{{ utilisateur.prenom }}</i></small>
            </p>

            <p>{{ utilisateur.bio|nl2br }}</p>

            <p>
                <strong>Email de contact :</strong> {{ utilisateur.bio }}
            </p>
            <p>
                <strong>Date d'expirtaion :</strong> {{ utilisateur.bio }}
            </p>

            <h1>Mes annonces : </h1>
            <h2>Expirés</h2>

            {% for trajetPosteExpire in trajetsPostesExpires %}
                <p>
                {{ trajetPosteExpire.id }}
                </p>
            {% endfor %}

            <h2>A Venir</h2>

            {% for trajetPosteAVenir in trajetsPostesAVenir %}
                <p>
                {{ trajetPosteAVenir.id }}
                </p>
            {% endfor %}

            <h1>Mes réservations : </h1>
            <h2>Expirés</h2>

            {% for trajetReserveExpire in trajetsReservesExpires %}
                <p>
                {{ trajetReserveExpire.id }}
                </p>

               <a href="{{ path('commentaire.new', {id: trajetReserveExpire.id})}}">Commenter ce trajet</a>

                
            {% endfor %}

            <h2>A Venir</h2>

            {% for trajetReserveAVenir in trajetsReservesAVenir %}
                <p>
                {{ trajetReserveAVenir.id }}
                </p>
            {% endfor %}

            
            
            <div class="row">
                <div class="col-sm-12 text-right">
                    

                    
                    <a class="btn btn-danger" href="{{ path('user.delete', {slug:utilisateur.slug})}}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Supprimer mon profil
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}